@media (max-width: 46.875em) {
  #mobile {
    display: inline-block;
  }
  .link-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 8rem;
    right: -28rem;
    width: 28rem;
    background-color: rgb(209, 226, 223);
    height: 100vh;
    padding-left: 3rem;
    padding-top: 3rem;
    transition: 0.5s ease-in-out;
  }
  .link:link,
  .link:visited {
    font-size: 1.8rem;
  }
  .active {
    right: 0;
  }
}
