.process-container {
  margin: 3rem;
  border: 1px solid rgb(31, 31, 31);
  border-radius: 12px;
  height: 58rem;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.processes {
  /* border: 1px black solid;
  background-color: red; */
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
}

.processes h4 {
  font-size: 1.8rem;
  font-weight: 800;
  display: inline-block;
}
.processes button {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 2.5rem;
  margin-top: 2rem;
  font-weight: 600;
  align-self: center;
  background-color: rgb(153, 153, 153);
  border: 1px rgb(31, 31, 31) solid;
  border-radius: 4px;
}
/* button */
.processes button:hover {
  background-color: rgb(56, 56, 56);
  color: white;
}
.processes-detail {
  margin-top: 2.6rem;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.processes-detail label,
.processes-detail input {
  display: block;
}
.processes-detail label {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  margin-left: 0.4rem;
}
.processes-detail input {
  max-width: 25rem;
  font-size: 1.6rem;
  height: 3.4rem;
  border: 0.51px rgb(31, 31, 31) solid;
  border-radius: 3px;
  padding-left: 0.6rem;
}
.processes-detail > input {
  margin-bottom: 1.2rem;
}
.transfer {
  background-color: rgb(129, 153, 148);
  color: rgb(31, 31, 31);
}
.withdraw {
}
.loan {
  background-color: rgba(80, 163, 142, 0.603);
  color: rgb(31, 31, 31);
}
.close {
  background-color: rgb(8, 97, 112);
  color: rgb(214, 214, 214);
}
