.transaction {
  margin: 3rem;
  /* background-color: red; */
  border: 1px solid black;
  border-radius: 12px;
  height: 27rem;
  overflow: scroll;
}
.each-transaction {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 3rem;
  margin: 0.5rem;
  border: none;
  border-radius: 10px;
  gap: 0.35rem;
  margin-right: 6px;
}
.transaction-type {
  font-weight: 600;
}
.transaction-amount {
  font-weight: 400;
  font-size: 2rem;
}
.deposit {
  background-color: rgba(0, 128, 0, 0.5);
}
.withdraw {
  background-color: rgba(163, 0, 0, 0.836);
  color: wheat;
}
.margin-m {
  margin: 2rem 3rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1.4rem;
}
